.App {
  display: grid;
  grid-template-areas: "side report";
  grid-template-columns: min-content 100%;
  min-height: 100vh;
}
.App a {
  color: black;
}

.Sidebar {
  border-right: 1px solid black;
}

.SidebarSection > * {
  padding: 10px;
}
.SidebarSection .SidebarSection_title {
  padding-top: 20px;
  border-bottom: 1px solid black;
}

.SidebarFlowStep {
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.SidebarFlowStep_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.navigation > .SidebarFlowStep_icon::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid blue;
  display: block;
}
.timespan > .SidebarFlowStep_icon::before {
  content: '';
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: blue;
  display: block;
}
.snapshot > .SidebarFlowStep_icon::before {
  content: '';
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: blue;
  display: block;
}
