.App {
  display: grid;
  grid-template-areas: "side report";
  grid-template-columns: min-content 100%;
  min-height: 100vh;
  font-family: inherit;
}
.App a {
  color: black;
}

.Hbar {
  height: 1px;
  width: 100%;
  background-color: black;
}

.Sidebar {
  border-right: 1px solid black;
}

.SidebarSection .SidebarSection_title {
  margin: 32px 16px 8px 16px;
}

.SidebarFlow {
  margin: 16px;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: max-content;
  grid-template-columns: max-content max-content;
  column-gap: 16px;
}

.SidebarFlowStep_line {
  width: 2px;
  height: 100%;
  z-index: -1;
  grid-row-start: 1;
  grid-column: 1;
}
.SidebarFlowStep_line_bottom, .SidebarFlowStep_line_top {
  width: 100%;
  height: 50%;
  background-color: blue;
}

.SidebarFlowStep_link {
  grid-column: 2;
  margin-top: 14px;
  margin-bottom: 14px;
  justify-self: left;
}
.SidebarFlowStep_icon {
  grid-column: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: white;
}
.navigation.SidebarFlowStep_icon::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid blue;
  display: block;
}
.timespan.SidebarFlowStep_icon::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: blue;
  display: block;
}
.snapshot.SidebarFlowStep_icon::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue;
  display: block;
}
